    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4;
        margin: 0;
        padding: 0;
    }

    header{
        background-color: #4caf50;
        color: white;
        text-align: center;
        padding: 20px;
    }

    .livros{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top:30px ;
    }

    .livro{
        background-color: white;
        padding: 15px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        text-align: center;
    }

    .preco{
        font-size: bold;
        color: #4caf50;
    }

    button{
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 8px;
        cursor: pointer;
    }

    button:hover{
        background-color: #45a049;
    }